## T test
A t-test is a type of inferential which is used to determine if there
is significant difference between means of two groups which may be related in certain features

#### T-test has two types:  
                          . one sample t-test
                          . two sample t-test

### One-Sample T-test with python
The test will tell us whether means of the sample and population is different <br>
<font size = "5">           $ t = \frac{\bar{x} - \mu}{\frac{s_{\bar{x}}}{\sqrt{n}}}$
           and $s_{\bar{x}} = \frac{s}{\sqrt{n}}$</font><br>
where: 
- $\bar{x}$ is the sample mean,
- $ \mu$ is the population mean,
- \( s \) is the sample standard deviation, and
- \( n \) is the sample size.
- $s_{\bar{x}}$ is the estimated standard error of the mean

In [4]:
ages = [10,20,35,34,2,3,47,36,30,25,44,48,19,70,28,26,22,12,45,67]

20

In [6]:
import numpy as np
ages_mean = np.mean(ages)
print(ages_mean)

31.15

<font size = '3'> we are checking whether the sample mean is different from poppulation mean using t-test with help of p_value</font>

In [10]:
#let's take sample
sample_size = 10
age_sample = np.random.choice(ages,sample_size)

In [11]:
age_sample

array([47, 28, 47, 67, 12, 45, 70, 47, 26, 35])

In [12]:
from scipy.stats import ttest_1samp

In [13]:
ttest,p_value = ttest_1samp(age_sample,ages_mean)

In [15]:
if p_value <=0.05:#alpha value is 0.05(5%) - level of significance
    print("difference ")
else:
    print("no difference between population mean and sample mean")

no difference between population mean and sample mean

let's do some more example
conside the age of students in a college and in class A

In [17]:
import scipy.stats as stats
import math
np.random.seed(6)
school_ages = stats.poisson.rvs(loc=18, mu = 35, size = 1500)
classA_ages = stats.poisson.rvs(loc=18,mu=30,size=60)

In [21]:
classA_ages.mean()

46.9

In [23]:
t_value,p_value=stats.ttest_1samp(classA_ages,school_ages.mean())

In [25]:
if p_value <=0.05:#alpha value is 0.05(5%) - level of significance
    print("Rejecting null hypothesis ")
else:
    print("no difference between population mean and sample mean")

Rejecting null hypothesis

## Two-sample T-test with python

The independent sample t test or 2-sample t-test compares the mean of two independent groups to determine whether 
there is statistical evidence that the associated population means are significantly different. The independent samples t Test is parametric test.(independent t-test) <br> <br>
<font size='5'>$t = \frac{x_{1}-x_{2}}{\sqrt{s^2(\frac{1}{n_{1}} + \frac{1}{n_{2}})}}$</font><br>
<font size='5'> $s^2 = \frac{\sum\limits_{i=1}^{n_1}(x_i - \bar{x_1})^2 + \sum\limits_{j=1}^{n_1}(x_j - \bar{x_2})^2}{n_1 + n_2 -2}$
</font>

In [37]:
np.random.seed(12)
classB_ages = stats.poisson.rvs(loc=18,mu=33,size=60)
classB_ages.mean()

50.63333333333333

In [38]:
ttestB,p_value=stats.ttest_ind(classA_ages,classB_ages,equal_var=False)

In [41]:
if p_value <=0.05:#alpha value is 0.05(5%) - level of significance
    print("Rejecting null hypothesis ")
else:
    print("no difference")

Rejecting null hypothesis

## Paired T-test with python
when you want to check how different samples from the group are, you can go for paired t-tes

In [47]:
weight1 = [25,30,28,35,28,34,36,56,45,30,18,22,21,26,20]
weight2 = weight1 + stats.norm.rvs(scale=5,loc=-1.26,size=15)

In [52]:
print(weight1)
print(weight2)

[25, 30, 28, 35, 28, 34, 36, 56, 45, 30, 18, 22, 21, 26, 20]
[30.56926457 34.90022437 28.99444617 30.53295091 19.85201983 37.56873174
 28.3199827  48.3671395  51.35420881 36.04941216 16.92827982 19.509014
 16.41851213 26.49667769 16.31984284]

In [54]:
import pandas as pd
weight_df = pd.DataFrame({"weight_10":np.array(weight1),
                          "weight_20":np.array(weight2),
                          "weight_change":np.array(weight2)-np.array(weight1)
    
})

In [55]:
weight_df

    weight_10  weight_20  weight_change
0          25  30.569265       5.569265
1          30  34.900224       4.900224
2          28  28.994446       0.994446
3          35  30.532951      -4.467049
4          28  19.852020      -8.147980
5          34  37.568732       3.568732
6          36  28.319983      -7.680017
7          56  48.367139      -7.632861
8          45  51.354209       6.354209
9          30  36.049412       6.049412
10         18  16.928280      -1.071720
11         22  19.509014      -2.490986
12         21  16.418512      -4.581488
13         26  26.496678       0.496678
14         20  16.319843      -3.680157

In [56]:
_,p_value=stats.ttest_rel(weight1,weight2)

In [57]:
if p_value <=0.05:#alpha value is 0.05(5%) - level of significance
    print("Rejecting null hypothesis ")
else:
    print("no difference")

no difference

### correlation

In [69]:
import seaborn as sns
df =sns.load_dataset('iris')

In [70]:
df.shape#checking the row and column of dataset

(150, 5)

In [71]:
df.corr()

              sepal_length  sepal_width  petal_length  petal_width
sepal_length      1.000000    -0.117570      0.871754     0.817941
sepal_width      -0.117570     1.000000     -0.428440    -0.366126
petal_length      0.871754    -0.428440      1.000000     0.962865
petal_width       0.817941    -0.366126      0.962865     1.000000

In the above  table we can see that the correlation between each features. Though we can get conculsion whether the two features have linear relationship or not
let's the above table represent in graph using seaborn

In [72]:
sns.pairplot(df)